body {
  background: rgb(16, 16, 22);
  color:white;
}

.boxx{
  width: 0;
  height: 0;
  box-shadow: 0 0 400px 80px yellow;
}


.swiper {
  margin: 100px auto;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
